<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container" id="index_cont">
    <hr class="prettyline">
    <h1>Welcome to Chat v 1.2!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <!-- Button trigger modal -->

        <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" align="center">
            <img class="img-circle" id="img_logo" src="http://files.gamebanana.com/img/ico/sprays/_366-.png">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
          <!-- Begin # DIV Form -->
          <div id="div-forms">
            <!-- Begin # Login Form -->
            <form id="login-form" action="http://127.0.0.1:3000/log_in" method="post" data-toggle="validator">
              <div class="modal-body">
                <div id="div-login-msg">
                  <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                  <span id="text-login-msg">Type your Email and password.</span>
                </div>
                <input name="email" class="form-control" type="text" placeholder="Email" required>
                <input name="passwd" class="form-control" type="password" placeholder="Password" required>
              </div>
              <div class="modal-footer">
                <div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
                <div>
                  <center>
                  <p class="p_form" style="color:blueviolet">Dont have an account ?<button id="login_register_btn" type="button" class="btn btn-link">Register!</button></p>
                  </center>
                </div>
              </div>

                     </form>
            <!-- End # Login Form -->

          <!-- Begin | Register Form -->
            <form id="register-form" style="display:none;" action="registrationHandler" method="post" data-toggle="validator">
              <div class="modal-body">
                <div id="div-register-msg">
                  <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                  <span id="text-register-msg">Register an account.</span>
                </div>
                <input id="name" class="form-control" type="text" placeholder="Username" required>
                <input id="email" class="form-control" type="text" placeholder="E-Mail" required>
                <input id="passwd" class="form-control" type="password" placeholder="Password" required>
              </div>
              <div class="modal-footer">
                <div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </div>
                <div>
                  <center>
                  <p class="p_form" style="color:blueviolet">Already Registered ?<button id="register_login_btn" type="button" class="btn btn-link">Log In!</button></p>
                  </center>
                </div>
              </div>
            </form>
            <!-- End | Register Form -->

          </div>
          <!-- End # DIV Form -->

        </div>
      </div>
    </div>
    <!-- END # MODAL LOGIN -->
    <hr class="prettyline">
<footer>
  <p align="center">&copy; CR4F7Y 2015</p>
</footer>
</div>
</div>