<div class="container">
  <div class="row text-center pad-top ">
    <div class="col-md-12">
      <h2 id="hedReg">Chat Registration Page</h2>
    </div>
  </div>
  <div class="row  pad-top">

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>   Register Yourself </strong>
        </div>
        <div class="panel-body">
          <form role="form" action="log" method="post" data-toggle="validator" id="myForm">
            <br/>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-circle-o-notch"></i></span>
              <input type="text" class="form-control" name="name" placeholder="Your Name" required />
            </div>
            <div class="form-group input-group">
              <span class="input-group-addon">@</span>
              <div class="form-group">
                <input type="email" class="form-control"  name="email" id="inputEmail" placeholder="example@example.com" data-error="Bruh, that email address is invalid" required>
              </div>

            </div>
            <div class="form-group input-group">
              <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
              <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="At least 6 characters" name="passwd" required>
            </div>
            <button type="submit" class="btn btn-success">Register me</button>

            <hr />

            <p style="color:blueviolet">Already Registered ?</p>  <a href="/log_in" >Login here</a>

          </form>
        </div>

      </div>
    </div>


  </div>
</div>

