<div class="col-md-8 col-md-offset-2">
    <div class="container">
      <div id="chat-text" >
        <%- @messages.each do |message| %>
            <div class="col-lg-8" id="message_li">
              <div class="panel-body">
                <ul class="chat">
                  <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff&text=<%=message.author[0]%>" alt="User Avatar" class="img-circle" />
                            </span>
                    <div class="chat-body clearfix">
                      <div class="header">
                        <strong class="primary-font"><%= message.author %></strong><br>
                        <small class="text-muted">
                          <span class="glyphicon glyphicon-time"></span>
                          <%=message.created_at%>
                        </small>
                      </div>
                      <p>
                        <%= message.body %>
                      </p>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

        <%- end %>
      </div>
    </div>



      <form id="input-form" class="form-inline">
         <div class="col-md-8 form-group">
          <input id="input-body" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>

      </form>

    </div>
