<div style="width: 40%">
  <div id="msg" class="alert hide" style="display: none;"></div>
  <table id="user" class="table table-bordered table-striped">
    <tbody>
    <tr>
      <td width="40%">Username</td>
      <td><a href="#" class="myeditable editable editable-click editable-empty" id="new_username" data-type="text" data-name="username" data-original-title="Enter username" style="background-color: rgba(0, 0, 0, 0);">Empty</a></td>
    </tr>
    <tr>
      <td>First name</td>
      <td><a href="#" class="myeditable editable editable-click editable-empty" data-type="text" data-name="firstname" data-original-title="Enter firstname" style="background-color: rgba(0, 0, 0, 0);">Empty</a></td>
    </tr>
    <tr>
      <td>Group</td>
      <td><a href="#" class="myeditable editable editable-click editable-empty" data-type="select" data-name="group" data-source="/groups" data-original-title="Select group" style="background-color: rgba(0, 0, 0, 0);">Empty</a></td>
    </tr>
    <tr>
      <td>Date of birth</td>
      <td><a href="#" class="myeditable editable editable-click editable-empty" data-type="date" data-name="dob" data-viewformat="dd/mm/yyyy" data-original-title="Select Date of birth">Empty</a></td>
    </tr>
    <tr>
      <td>Comments</td>
      <td><a href="#" class="myeditable editable editable-pre-wrapped editable-click editable-empty" data-type="textarea" data-name="comments" data-original-title="Enter comments">Empty</a></td>
    </tr>
    </tbody>
  </table>
  <div>
    <button id="save-btn" class="btn btn-primary">Save new user!</button>
    <button id="reset-btn" class="btn pull-right">Reset</button>
  </div>
</div>